body {
    font-family: sans-serif;
    font-size: small;
}

canvas {
    border: solid grey 1px;
    position: relative;
}

.title {
    font-weight: bold;
}

.desc {
    max-width: 800px;
}

#status-container {
    font-weight: bold;
    padding-left: 1px;
}

#status {
    font-weight: normal;
}

.spaced {
    padding-right: 24px;
}

select {
    width: 48px;
}

button {
    width: 64px;
}

td {
    padding-left: 0;
}