body {
    font-family: sans-serif;
}

canvas {
    float: left;
    border: 1px solid #888888;
    margin-right: 20px;
}

button {
    width: 100px;
}

input {
    width: 56px;
}

select {
    width: 100px;
}

.desc {
    font-size: small;
}

.app {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}